@import url("https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,700,900");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Yantramanav", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: .7px;
  color: #fff;
  background-color: #e1e1e1; }
  body #body-wrapper {
    margin: 0 auto;
    max-width: 96rem;
    box-shadow: 0 0 2rem 2rem #ccc;
    background-color: #fff; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

.free-space {
  height: 9rem;
  margin-bottom: 1rem; }

h1.title, h2 {
  color: #999;
  text-align: center;
  padding: 2rem 0; }

.btn-switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-switch__radio {
  display: none; }

.btn-switch__label {
  display: inline-block;
  padding: .75rem .5rem .75rem .75rem;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #666;
  cursor: pointer;
  transition: color .2s ease-in-out; }

.btn-switch__label + .btn-switch__label {
  padding-right: .75rem;
  padding-left: 0; }

.btn-switch__txt {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 1.5rem;
  opacity: 1;
  pointer-events: none;
  transition: opacity .2s ease-in-out; }

.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
  opacity: 0; }

.btn-switch__label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f0f0f0;
  border-radius: 1.5rem;
  box-shadow: inset 0 0.0715rem 0.3572rem rgba(43, 43, 43, 0.05);
  transition: background .2s ease-in-out; }

.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
  background: #6ad500; }

.btn-switch__label_no:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: .5rem;
  bottom: .5rem;
  left: .5rem;
  width: 2rem;
  background: #fff;
  border-radius: 1rem;
  pointer-events: none;
  box-shadow: 0 0.1429rem 0.2143rem rgba(43, 43, 43, 0.2), 0 0.3572rem 0.3572rem rgba(43, 43, 43, 0.1);
  transition: left .2s ease-in-out, background .2s ease-in-out; }

.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
  left: calc(100% - 2.5rem);
  background: #fff; }

.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
  z-index: 1; }

.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
  color: #fff; }

.clearfix::before, .clearfix::after {
  content: '';
  display: block; }

.clearfix::after {
  clear: both; }

#nav-01 {
  background: #999; }
  #nav-01 ul ul ul {
    top: 0 !important;
    left: 100%; }
  #nav-01 > ul {
    margin: 0 auto;
    width: 80%; }
    #nav-01 > ul li {
      display: block;
      float: left;
      position: relative; }
      #nav-01 > ul li:hover {
        background: rgba(0, 0, 0, 0.25); }
      #nav-01 > ul li ul {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 100%;
        background: #999; }
        #nav-01 > ul li ul li {
          float: none;
          position: relative;
          height: 4.2rem; }
    #nav-01 > ul li:hover > ul {
      display: block; }
    #nav-01 > ul a {
      display: block;
      float: left;
      width: 17rem;
      padding: 1rem 2rem;
      box-sizing: border-box;
      color: #fff;
      text-decoration: none; }

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 100rem; }

#nav-02 {
  background-color: #e54b4b;
  color: #EBEBD3;
  padding: 1rem 0;
  position: relative; }

#nav-02::after {
  content: '';
  clear: both;
  display: block; }

.logo {
  float: left;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700; }
  .logo span {
    font-weight: 100; }

.site-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #464655;
  clip-path: circle(0 at top right);
  transition: clip-path ease-in-out 500ms; }
  .site-nav--open {
    clip-path: circle(150% at top right); }
  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .site-nav li + li {
    border-top: 1px solid #575766; }
  .site-nav li .site-nav--icon {
    display: inline-block;
    font-size: 2rem;
    margin-right: 1.3rem;
    width: 2rem;
    text-align: right;
    color: rgba(255, 255, 255, 0.4); }
  .site-nav a {
    color: #EBEBD3;
    display: block;
    padding: 2rem 6rem 2rem 3rem;
    text-transform: uppercase;
    text-decoration: none; }
    .site-nav a:hover, .site-nav a:focus {
      background-color: #e4b363;
      color: #454555; }

.menu-toggle {
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  cursor: pointer; }

.hamberger,
.hamberger::before,
.hamberger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2rem;
  border-radius: 3px;
  transition: all ease-in-out 500ms; }

.hamberger::before {
  transform: translateY(-6px); }

.hamberger::after {
  transform: translateY(3px); }

.open .hamberger {
  transform: rotate(45deg); }
  .open .hamberger::before {
    opacity: 0; }
  .open .hamberger::after {
    transform: translateY(-3px) rotate(-90deg); }

@media (min-width: 70rem) {
  .menu-toggle {
    display: none; }
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: inherit; }
    .site-nav li {
      display: inline-block; }
      .site-nav li + li {
        border: none;
        margin-left: 3rem; }
      .site-nav li .site-nav--icon {
        display: none; }
    .site-nav a {
      padding: 0;
      font-size: 2rem; }
      .site-nav a:hover, .site-nav a:focus {
        background: transparent; } }

.navigation__checkbox {
  display: none; }

.navigation__btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__btn {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__btn {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem;
  overflow: hidden; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  backface-visibility: hidden;
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__btn:hover .navigation__icon::before {
  top: -1rem; }

.navigation__btn:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

#nav-04 {
  color: #faf9f9;
  text-align: right;
  height: 5rem;
  line-height: 5rem;
  background-color: #55c57a; }

.nav-04__label {
  margin: 0 1rem 0 0;
  font-size: 2.5rem;
  line-height: 5rem;
  display: none; }

.nav-04__radioInput {
  display: none; }

.nav-04__menu {
  margin-right: 3rem; }
  .nav-04__menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #faf9f9;
    font-size: 1.7rem;
    line-height: 5rem; }
    .nav-04__menu a:hover {
      color: black; }
  .nav-04__menu a + a {
    margin-left: 3rem; }

@media only screen and (max-width: 800px) {
  .nav-04__label {
    display: block;
    cursor: pointer;
    width: 3rem;
    float: right; }
  .nav-04__radioInput:checked + .nav-04__menu {
    display: block; }
  .nav-04__menu {
    text-align: center;
    width: 100%;
    display: none; }
    .nav-04__menu a {
      clear: right;
      background-color: #55c57a;
      display: block;
      border-top: 1px solid #eee; }
    .nav-04__menu a + a {
      margin: 0; } }

#nav-05 {
  color: #333;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: .5rem 0 0 0;
  text-align: center; }
  #nav-05 > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #faf9f9;
    border-radius: .5rem; }
    #nav-05 > ul > li {
      border-radius: .5rem .5rem 0 0; }
  #nav-05 li {
    float: left;
    width: 15rem;
    height: 4.5rem;
    line-height: 4.5rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer; }
    #nav-05 li:hover {
      background: #d5d5d5; }
    #nav-05 li:hover > ul.drop-menu li {
      display: block; }
    #nav-05 li:hover > ul.drop-menu.menu-1 {
      perspective: 100rem; }
      #nav-05 li:hover > ul.drop-menu.menu-1 li {
        opacity: 0; }
        #nav-05 li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
          animation: menu1 200ms ease-in-out -299ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
          animation: menu1 400ms ease-in-out -298ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
          animation: menu1 600ms ease-in-out -297ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
          animation: menu1 800ms ease-in-out -296ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
          animation: menu1 1000ms ease-in-out -295ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-1 li:nth-child(6) {
          animation: menu1 1200ms ease-in-out -294ms 1 normal forwards; }
    #nav-05 li:hover > ul.drop-menu.menu-2 {
      perspective: 100rem; }
      #nav-05 li:hover > ul.drop-menu.menu-2 li {
        opacity: 0;
        transform-origin: top center; }
        #nav-05 li:hover > ul.drop-menu.menu-2 li:nth-child(1) {
          animation: menu2 150ms ease-in-out -150ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-2 li:nth-child(2) {
          animation: menu2 300ms ease-in-out 0ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-2 li:nth-child(3) {
          animation: menu2 450ms ease-in-out 150ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-2 li:nth-child(4) {
          animation: menu2 600ms ease-in-out 300ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-2 li:nth-child(5) {
          animation: menu2 750ms ease-in-out 450ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-2 li:nth-child(6) {
          animation: menu2 900ms ease-in-out 600ms 1 normal forwards; }
    #nav-05 li:hover > ul.drop-menu.menu-3 {
      perspective: 100rem; }
      #nav-05 li:hover > ul.drop-menu.menu-3 li {
        opacity: 0;
        transform-origin: top center; }
        #nav-05 li:hover > ul.drop-menu.menu-3 li:nth-child(1) {
          animation: menu3 300ms ease-in-out -150ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-3 li:nth-child(2) {
          animation: menu3 300ms ease-in-out 0ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-3 li:nth-child(3) {
          animation: menu3 300ms ease-in-out 150ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-3 li:nth-child(4) {
          animation: menu3 300ms ease-in-out 300ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-3 li:nth-child(5) {
          animation: menu3 300ms ease-in-out 450ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-3 li:nth-child(6) {
          animation: menu3 300ms ease-in-out 600ms 1 normal forwards; }
    #nav-05 li:hover > ul.drop-menu.menu-4 {
      perspective: 100rem; }
      #nav-05 li:hover > ul.drop-menu.menu-4 li {
        opacity: 0;
        transform-origin: top right; }
        #nav-05 li:hover > ul.drop-menu.menu-4 li:nth-child(1) {
          animation: menu4 300ms ease-in-out -150ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-4 li:nth-child(2) {
          animation: menu4 300ms ease-in-out 0ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-4 li:nth-child(3) {
          animation: menu4 300ms ease-in-out 150ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-4 li:nth-child(4) {
          animation: menu4 300ms ease-in-out 300ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-4 li:nth-child(5) {
          animation: menu4 300ms ease-in-out 450ms 1 normal forwards; }
        #nav-05 li:hover > ul.drop-menu.menu-4 li:nth-child(6) {
          animation: menu4 300ms ease-in-out 600ms 1 normal forwards; }
    #nav-05 li ul.drop-menu {
      background: #fff;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0; }
      #nav-05 li ul.drop-menu li {
        background: #666;
        color: rgba(255, 255, 255, 0.7);
        display: none; }
        #nav-05 li ul.drop-menu li:hover {
          background: #606060; }
        #nav-05 li ul.drop-menu li:last-child {
          border-radius: 0 0 .5rem .5rem; }

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(3rem); }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); } }

@keyframes menu2 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg); }
  60% {
    transform: translateX(50deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

@keyframes menu3 {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-6rem); }
  70% {
    transform: scale(1.2) translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px); } }

@keyframes menu4 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateX(2rem); }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px); } }

#nav-06 {
  box-sizing: border-box;
  background: #777;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  display: block;
  position: relative; }
  #nav-06 > .menu {
    background-color: #444;
    height: 4rem;
    position: relative;
    display: none; }
    @media only screen and (max-width: 48.44em) {
      #nav-06 > .menu {
        display: block; } }
    #nav-06 > .menu .menu-toggle {
      display: block;
      margin: 0;
      padding: 0;
      width: 4rem;
      height: 4rem;
      border-radius: 3px;
      margin-left: auto;
      margin-right: 2rem;
      cursor: pointer; }
      #nav-06 > .menu .menu-toggle > .hamburger {
        background: #EBEBD3;
        height: 3px;
        width: 3rem;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        #nav-06 > .menu .menu-toggle > .hamburger::before, #nav-06 > .menu .menu-toggle > .hamburger::after {
          content: '';
          background: #EBEBD3;
          display: block;
          width: 3rem;
          height: 3px;
          border-radius: 3px;
          transition: all ease-in-out 500ms; }
        #nav-06 > .menu .menu-toggle > .hamburger::before {
          transform: translateY(-7px); }
        #nav-06 > .menu .menu-toggle > .hamburger::after {
          transform: translateY(4px); }
  #nav-06 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
    @media only screen and (max-width: 48.44em) {
      #nav-06 ul {
        width: 100vw;
        position: relative;
        text-align: center;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden; } }
  #nav-06 li {
    display: inline-block; }
    @media only screen and (max-width: 48.44em) {
      #nav-06 li {
        display: block; } }
    #nav-06 li:hover {
      background: #444; }
      @media only screen and (max-width: 48.44em) {
        #nav-06 li:hover {
          background-color: rgba(0, 0, 0, 0.1); } }
      #nav-06 li:hover .menu-sub {
        display: block;
        opacity: 0;
        animation: translateFromTop 100ms ease-in forwards; }
      #nav-06 li:hover a {
        color: #fff; }
  #nav-06 a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 1.75rem 1.75rem; }
  #nav-06 .menu-sub {
    position: absolute;
    left: 0;
    background: #444;
    color: #fff;
    width: 100%;
    display: none;
    padding: 0 2rem 2rem 2rem; }
    @media only screen and (max-width: 48.44em) {
      #nav-06 .menu-sub {
        position: relative;
        margin: 0;
        padding: 0; } }
    #nav-06 .menu-sub li {
      display: block; }
    #nav-06 .menu-sub a {
      padding: 0;
      margin-bottom: .25rem; }
      @media only screen and (max-width: 48.44em) {
        #nav-06 .menu-sub a {
          margin: 0;
          padding: 0; } }
      #nav-06 .menu-sub a:hover {
        text-decoration: underline; }
        @media only screen and (max-width: 48.44em) {
          #nav-06 .menu-sub a:hover {
            background: rgba(0, 0, 0, 0.1); } }
  #nav-06 .menu-col-1,
  #nav-06 .menu-col-2,
  #nav-06 .menu-col-3,
  #nav-06 .menu-col-4 {
    float: left; }
  #nav-06 .menu-col-1 {
    width: 25%; }
  #nav-06 .menu-col-2 {
    width: 50%; }
  @media only screen and (max-width: 48.44em) {
    #nav-06 .menu-col-1, #nav-06 .menu-col-2, #nav-06 .menu-col-3, #nav-06 .menu-col-4 {
      width: 100%; } }
  #nav-06 [class^="menu-col-"] {
    margin: 0;
    padding: 0; }
    #nav-06 [class^="menu-col-"] a {
      text-align: center;
      margin: 0;
      padding: 2rem; }
      @media only screen and (max-width: 48.44em) {
        #nav-06 [class^="menu-col-"] a {
          padding: 1rem 0 1rem 5rem; } }
      #nav-06 [class^="menu-col-"] a img.menu-icon {
        height: 7rem; }
        @media only screen and (max-width: 48.44em) {
          #nav-06 [class^="menu-col-"] a img.menu-icon {
            display: none; } }
      #nav-06 [class^="menu-col-"] a p {
        margin-top: .5rem; }
  #nav-06 .open .hamburger {
    transform: translateX(-1.5rem) rotate(45deg) !important; }
  #nav-06 .open .hamburger::before {
    opacity: 0; }
  #nav-06 .open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg) !important; }
  #nav-06 #nav .menu-open {
    max-height: 50rem;
    transition: max-height .5s ease-in; }

@keyframes translateFromTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

#nav-07 {
  margin: 0;
  padding: 0; }
  #nav-07 ul {
    list-style: none;
    background-color: #444;
    display: flex;
    flex-direction: column; }
    #nav-07 ul li:hover {
      background: rgba(0, 0, 0, 0.25); }
    #nav-07 ul li a {
      text-decoration: none;
      display: block;
      padding: 1.5rem 1rem;
      color: #f9f9f9; }
  #nav-07 .arrow {
    font-family: FontAwesome;
    float: right; }
    #nav-07 .arrow-down::after {
      content: '\f107'; }
    #nav-07 .arrow-right::after {
      content: '\f105'; }

@media only screen and (max-width: 480px) {
  #nav-07 .has-children ul li a {
    padding-left: 3rem; }
  #nav-07 .has-children ul .has-children ul a {
    padding-left: 4rem; }
  #nav-07 .arrow-down::after {
    content: '\f107'; } }

@media only screen and (min-width: 480px) {
  #nav-07 ul {
    flex-direction: row;
    justify-content: space-between; }
    #nav-07 ul li {
      position: relative;
      flex: 1 0 auto; }
  #nav-07 ul li:hover ul,
  #nav-07 .has-children ul .has-children:hover ul {
    display: flex;
    flex-direction: column; }
  #nav-07 .has-children ul .has-children ul {
    left: 100%;
    top: 0; }
  #nav-07 .has-children ul,
  #nav-07 .has-children ul .has-children ul {
    display: none;
    width: 100%;
    position: absolute; } }

#nav-08 .nav-container {
  display: block;
  position: relative; }
  #nav-08 .nav-container .navbar-collapse {
    background-color: #ccc; }
    #nav-08 .nav-container .navbar-collapse ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      #nav-08 .nav-container .navbar-collapse ul li {
        flex: 0 1 auto; }
        #nav-08 .nav-container .navbar-collapse ul li:hover {
          background-color: #333; }
    #nav-08 .nav-container .navbar-collapse a {
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 1rem 2rem; }
    #nav-08 .nav-container .navbar-collapse .sub-menu {
      background: #777;
      display: none;
      position: absolute;
      top: 100%; }
    #nav-08 .nav-container .navbar-collapse ul li:hover .sub-menu {
      display: flex;
      flex-direction: column; }
