$nav-06-bgColor: #777;
$nav-06-textColor: #fff; 
$nav-06-hover: #444;
$nav-06-boxShadow:  0 0 15px 0 rgba(0, 0, 0, .10);

#nav-06 {
  box-sizing: border-box;
  background: $nav-06-bgColor;
  box-shadow: $nav-06-boxShadow;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }

  li {
    display: inline-block;

    &:hover {
      background: $nav-06-hover;

      // show menu-sub
      .menu-sub {
        display: block;
      }
      
      a {
        color: $nav-06-textColor;
      }
    }
  }

  a {
    color: $nav-06-textColor;
    text-decoration: none;
    display: block;
    padding: 1.75rem 1.75rem;
  }

  .menu-sub {
    position: absolute;
    left: 0;
    background: $nav-06-hover;
    color: $nav-06-textColor;
    width: 100%;
    // hide menu-sub
    display: none;

    padding: 0 2rem 2rem 2rem;

    // change position li from row to column
    li {
      display: block;
    }

    a {
      padding: 0;
      margin-bottom: .25rem;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .menu-col-1,
  .menu-col-2,
  .menu-col-3,
  .menu-col-4 {
    float: left;
  }

  .menu-col {

    &-1{
      width: 25%;
    }

    &-2 {
      width: 50%;
    }

  }

  [class^="menu-col-"] {

    margin: 0;
    padding: 0;
    
    a {
      text-align: center;
      // border: 1px solid #eee;
      margin: 0;
      padding: 2rem;

      img.menu-icon {
        height: 7rem;
        // background-color: #fff;
      }

      p {
        margin-top: .5rem;

      }
    }
  }

}