
$nav-01-bgHover: rgba(0,0,0, .25);
// NAVBAR
.clearfix {
  &::before, &::after {
    content: '';
    display: block;
  }

  &::after {
    clear: both;
  }
}


#nav-01 {
  background: $color-grey-dark-3;

  // 3nd level
  & ul ul ul {
    top: 0 !important;
    left: 100%; 
  }

  & > ul {
    margin: 0 auto;
    width: 80%;

    // first level
    li {

      &:hover {
        background: $nav-01-bgHover;
      }

      display: block;
      float: left;
      position: relative;
      
      // 2nd level
      ul {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 100%;
        background: $color-grey-dark-3;

        li {
          float: none;
          position: relative;
          height: 4.2rem; 
        }
      }
    }

    li:hover > ul {
      display: block;
    }

    a {
      display: block;
      float: left;
      width: 17rem;
      padding: 1rem 2rem;
      box-sizing: border-box;

      color: $color-white;
      text-decoration: none;
    }

    // a:hover {
    //   background: $color-grey-dark-1;
    // }
  }

}
